#main {
    width: 800px ;
    margin-left: auto ;
    margin-right: auto ;
    font-family:verdana, helvetica, sans-serif;
  }
#eventLogo {
    width:100%;
    display: block;
    margin-bottom:10px;
}
.featured .name
{
    font-size: 24px;
    font-weight: 700;
    color: #1E0A3C;
    display: block;
}
.featured>div
{
    margin-top:30px;
    float: left;
    width: 350px;
    margin-right:50px;
    height:435px;
}
.featured .title
{
    font-size: 14px;
    color: #6F7287;
}
.featured .featurePhoto
{
    width:100%;
    display: block;
    margin-top:5px;
}
.hidden
{
    display:none;
}
.reg-btn {
    color: #fff;
    background: #732b6b;
    margin-top: 20px;
    border-radius: 0 !important;
    font-size: 24px !important;
    font-weight: 300 !important;
    padding: 10px 30px !important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.text-center {
    text-align: center;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
.menu
{
    border-bottom: 2px solid #732b6b;
    border-top: 2px solid #732b6b;
    display:block;
    height:30px;
}
.menu ul
{
    margin: 5px;
}
.menu li
{
    float: left;
    padding-left:15px;
    padding-right:15px;
    list-style-type: none;
    position: relative;
    display: block;
    border-right: 1px solid black;
}
.menu .last
{
    border: initial;
}
.menu a
{
    color: #008192;
    font-weight: bold;
}
.menu a:visited
{
    color: #008192;
    font-weight: bold;
}